@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'boston_trafficregular';
  src: font_url('boston_traffic.eot');
  src: font_url('boston_traffic.eot?#iefix') format('embedded-opentype'),
      font_url('boston_traffic.woff') format('woff'),
      font_url('boston_traffic.ttf') format('truetype'),
      font_url('boston_traffic.svg#boston_trafficregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// html,body,div.container, div.main-container, div.menu.row, div.col-xs-11 {height: 100%;}
// .height-responsive {
//     width: auto;
//     display:block;
//     height: 100%;
// }

hr {
  background-color:black;
  border-color:black;
}

body {
  // padding-top: 55px;
  margin:0;
 
}

.container {
 
  background: #fffff9 ;
  padding: 0px;
  text-align: left;
  margin: 0 auto;
  vertical-align: top;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav li a{
  color: #337ab7; 
  
}

.navbar{
  margin-bottom:0px;
  font-family: 'boston_trafficregular';
  border-bottom: 1px solid black;
}

a #logo{
  height: 46px;
  align: center;
  margin: 1px;
  color:orange;
  margin-right: 35px;
  float:left;
  margin-left:10px;
}

.navbar-header a.navbar-brand {
  color:orange;
}

.navbar-brand {
  padding: 0px;
  margin: 0px;
  font-size: 35px;
  float:left;
  line-height:40px;
  padding-top:8px;
  float:left;
}
ul#navbar{
  margin-bottom:0px;
}

ul#navbar li{
  display:inline-block; 
  padding-top: 5px;
  padding-bottom: 0px; 
  padding-left: 25px; 
}

li.category_selected > a {
  color: green;  
}

.main-container{
  margin: 0 auto;
  text-align:center;
  
  background: #fffff9 ;
  border-bottom: 1px solid black;
  padding-top:50px;
}

#signature{
  color:black;
  float:right;
  font-size:8px;
  line-height:8px;
}

.row {
 
  padding-top: 10px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}


.img-center-fit {
  min-height : 100%;
  min-width : 100%;
  overflow-y: hidden;
  overflow-x: hidden;
 }


.menu-category {
 display: inline-block;
 margin:  0 auto;
 padding:  5px;
 width:  100%; 
 text-align:center;
 margin-left: 0 auto;
}


footer {
  
  small {
    float: left;
  }
}

.pagination li a{
  padding: 0px 10px;
}
 
.pagination {
  font-family: 'boston_trafficregular';
  color: green;
  margin-left: 15px;
  font-size: 15px;
  padding-top:0px;
  max-height:15px;
  margin: 0 auto;
  border-radius: 0;
 
  li a{background: transparent; color:green; border: none; }
  .prev a{ background: transparent; color:green; border: none; }
  .active a { background: transparent; color:orange; border: none; font-weight:bold;}
  .next a{ background: transparent; color:green; border: none; }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
   // z-index: 1; /* Sit on top */
    padding-top: 120px; /* Location of the box */
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    //background-color: transparent; /* Fallback color */
    //background-color: transparent; /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    font-family: Fira Sans;
    //background-color: transparent;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.slides-container{
  width: 500px;
}




/****************************** medium - 992 -1200 ***************************************/
/***************************************************************************************/

@media screen and (min-width:992px) and (max-width:1200px){

  body{
    font-size:12px;
  }
  
}


/****************************** small 768 - 992 ***************************************/
/*************************************************************************************/
@media screen and (min-width:767px) and (max-width:991px){

	body{
 		font-size:11px;
  }
  [class^="col"]{
    padding:0px;
  }
  
  
}

/****************************** xsmall < 768***************************************/
/*************************************************************************************/
@media screen and (min-width:480px) and (max-width:767px){

	body{
 		font-size:10px;
 	}
  a #logo{
    margin-left:20px;
    margin-right:20px;
  }
  
  [class^="col"]{
    padding:0px;
  }
  
}

/****************************** xsmall < 480***************************************/
/*************************************************************************************/
@media screen and (min-width:100px) and (max-width:480px){

	body{
 		font-size:10px;
   }
  .navbar-default{
    height:30px;
  }
  a #logo{
    margin-left:20px;
    margin-right:20px;
    height:40px;
  } 
  .navbar-brand{
    height:40px;
  }
  button{
    height:30px;
  }
    
  [class^="col"]{
    padding:0px;
  
  }
}

