
@import "bootstrap";

@font-face {
  font-family: 'boston_trafficregular';
  src: url('boston_traffic.eot');
  /* IE6+ */
  src: local('boston_traffic'), local('boston_traffic'), url('boston_traffic.woff') format('woff'), /* FF3.6 */
  font-url('boston_traffic.ttf') format('truetype')/* Saf3+,Chrome,Opera10+ */
  ;
}

body {
  padding-top: 50px;
  margin:0;
}

img#logo {
  height: 40px;
  margin-right:10px;
  margin-left:10px;
  
}

.navbar-brand{
  font-family: boston_trafficregular;
  
}

.navbar-toggler-icon{
  border-radius:5px;
}
.navbar-dark .navbar-nav a.nav-link, div.dropdown{
  font-family: boston_trafficregular;
  color:#007bff;
}

.navbar-dark .navbar-nav a.nav-link.selected{
  color:green;
}


div.container {
  margin: 40 auto;
  padding: 0px 0px;
  border-radius: 5px;
  /* background-color: rgb(230, 215, 177);; */
  background-color:white; 
}

.container.main{
 
  border-bottom: 1px solid black;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}


#signature{
  color:black;
  float:right;
  font-size:8px;
  line-height:8px;
}

.row {
 
  display:block;
  margin:0px !important;
}

.paginator{
  text-align:center;
}


.fa.fa-chevron-right, .fa.fa-chevron-left{
  font-size:40px;
}






footer.container-fluid {
  
  background-color:white;
}



.about-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 120px; /* Location of the box */
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
   
}
/* Modal Content */
.about-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    font-family: Fira Sans;
    background-color:rgb(230, 215, 177);
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




// ****************************** medium - 992   -1200 ***************************************/
/***************************************************************************************/

@media screen and (min-width:992px) and (max-width:1200px){

  body{
    font-size:18px;
  }
  div.container{
    padding:0px;
    
  }
  
}


// /****************************** small 768 - 992 ***************************************/
/*************************************************************************************/
@media screen and (min-width:767px) and (max-width:991px){

	body{
 		font-size:11px;
  }


  .navbar-dark .navbar-nav a.nav-link{
    /* font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
    font-size:13px;
    padding-left:0px; 
    padding-right:7px;
  }

  [class^="col"]{
    padding:0px;
  }
  
  
}

// /****************************** xsmall < 768***************************************/
/*************************************************************************************/
@media screen and (min-width:576px) and (max-width:767px){

	body{
 		font-size:10px;
 	}
  a #logo{
    margin-left:5px;
    margin-right:5px;
  }
  
 

  .navbar-dark .navbar-nav a.nav-link{
    /* font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
    font-size:12px;
    padding-left:0px; 
    padding-right:7px;
  }

 

  [class^="col"]{
    padding:0px;
  }
  
  .paginator{
    font-size:8px;
  }
}









// /****************************** xsmall < 576***************************************/
/*************************************************************************************/
@media screen and (min-width:480px) and (max-width:576px){

	body{
 		font-size:10px;
   }
  nav.navbar.navbar-expand-sm{
    padding:0px;
  }
  
  a.navbar-brand{
    margin-right:2px;
  }

  a #logo{
    margin-left:5px;
    margin-right:5px;
    height:40px;
  } 
 
  a.navbar-brand span{
    margin:0 auto;
  }

  .navbar-collapse{
    background-color:rgb(236, 231, 217);
    font-family: boston_trafficregular;
  }


  .navbar-dark .navbar-nav a.nav-link{
    /* font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
    font-size:12px;
    padding-left:20px; 
    padding-right:7px;
  }

  a.nav-link.mobile, a.nav-link.mobileselected{
    padding:3px;
  }

  /* #sub-menu-in-navbar{
    display:inline;
    font: size 14;px;
  } */

  .container.main{
    margin-top:2px;
  }
    
  [class^="col"]{
    padding:0px;
  }

  /* .paginator{
    font-size:8px;
  } */
}


// /****************************** xsmall < 480***************************************/
/*************************************************************************************/
@media screen and (min-width:100px) and (max-width:480px){

	body{
     font-size:10px !important;
    padding-top:40px;
   }
   nav.navbar.navbar-expand-sm{
    padding:0px;
  }
  
  a.navbar-brand img#logo{
    margin-right:10px;
  }

  a #logo{
    margin-left:5px;
    margin-right:5px;
    height:40px;
  } 
 
  a.navbar-brand span{
    margin:0 auto;
  }

  .navbar-collapse{
    background-color:rgb(236, 231, 217);
    font-family: boston_trafficregular;
  }

  .navbar-dark .navbar-nav a.nav-link{
    /* font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
    font-size:12px;
    padding-left:20px; 
    padding-right:7px;
  }

  span.navbar-toggler-icon{
    height:20px;
    color:orange !important;
  }
/* 
  a.nav-link.mobile, a.nav-link.mobileselected{
    padding:3px;
  }





  #sub-menu-in-navbar{
    display:inline;
    font-size:10px;
  } */

    
  [class^="col"]{
    padding:0px !important;
  
  }

  .list-group-item{
    padding-left:10px !important;
    padding-right:10px !important;
    position: relative;
  }

  .list-group-item > button > span{
    font-size:40px;
  }
}

